<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    
    <%- include("./partials/header.ejs") %>

    <main class="main-section flx-c-nw">
        <section class="cards">
            <% products.forEach(product => { %>
                <article class="tarjeta-articulo" onclick="toProductDetail(event)">
                    <input type="hidden" name="productId" id="productId" value="<%= product.productId %>">

                    <div class="imagen-producto">
                        <% if (product.images && product.images.length) { %>
                            <img src="/img/Products-Image<%= product.images[0]?.imageTitle %>" alt=<%= product.alt %>>
                            <% }else{ %>
                            <img src="/img/Products-Image/default_img.jpg" alt=<%= product.alt %>>
                        <% } %>
                    </div>
                    
                    <div class="info-producto">
                        <p class="titulo-producto">
                            <%= product.productName %>
                        </p>
                        <p class="descripcion-producto">
                            <%= product.shortDescription %>
                        </p>
                    </div>
                   
                    <p class="precio-producto">
                        <%= product.productPrice%>
                    </p>

                    <i class="cart-icon fa-solid fa-cart-shopping flx-r-w" onclick="addToCart(event)"></i>
                    <i class="heart-icon fa-solid fa-heart flx-r-w" onclick="favoritesControlls(event)"></i>
                </article> 
     
            <% }) %>

        </section>

        <div class="carouselBannerContainer flx-r-nw">
            <div class="flx-r-nw" id="banner1">
                <img src="/img/Imagenes-Index/banner1.png" >
            </div>
            <div class="flx-r-nw" id="banner2">
                <img src="/img/Imagenes-Index/banner2.png" >
            </div>
            <div class="flx-r-nw" id="banner3" style="opacity: 1;">
                <img src="/img/Imagenes-Index/banner3.png" >
            </div>
        </div>
        
    </main>
    <%- include('./partials/sideCart.ejs') %>

    <%- include("./partials/footer.ejs") %>


    <!-- Scripts JS -->
    <script src="/DOM-Controllers/darkmode"></script>
    
</body>

</html>