<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <section class="entry-options flx-r-w">
        <button id="btn-exit-entry">
            <i class="fa-solid fa-x"></i>
        </button>
        
        <a href="/register" class="flx-r-w">
            <button id="btn-register">Registrate Ahora</button>
        </a>
        <a class="main-logo-container entry-logo flx-r-w" href="/">
            <img src="/img/logo-horizontal-blanco.png" alt="">
        </a>
        <a href="/login" class="flx-r-w">
            <button id="btn-login">¿Ya tenés Cuenta?</button>
        </a>
    </section>

    <%- include('./partials/header.ejs') %>

    <main class="main-section">
        <section class="cards">
            <% productsDb.forEach(product => { %>
                <article class="tarjeta-articulo">
                    <div class="imagen-producto">
                        <img src="/img/Products-Image/<%= product.image %>" alt=<%= product.alt %>>
                    </div>
                    <a href="/product-detail">
                        <div class="info-producto">
                            <p class="titulo-producto">
                                <%= product.name %>
                            </p>
                            <p class="descripcion-producto">
                                <%= product.shortDescription %>
                            </p>
                            <p class="precio-producto">
                                <%= product.price%>
                            </p>
                        </div>
                    </a>
                    <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                    <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
                </article>           
            <% }) %>
            <!-- <article class="tarjeta-articulo">
                <div class="imagen-producto">
                    <img src="/img/Imagenes-Index/gabinete.png" alt="Foto gabinete">
                </div>
                <a href="/product-detail">
                    <div class="info-producto">
                        <p class="titulo-producto">
                            Titulo producto
                        </p>
                        <p class="descripcion-producto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, iure aperiam maxime omnis
                            exercitationem tenetur? Voluptas enim dolore totam sint temporibus.
                        </p>
                        <p class="precio-producto">
                            $9.999
                        </p>
                    </div>
                </a>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            </article>
            <article class="tarjeta-articulo">
                <div class="imagen-producto">
                    <img src="/img/Imagenes-Index/gabinete.png" alt="Foto gabinete">
                </div>
                <a href="/product-detail">
                    <div class="info-producto">
                        <p class="titulo-producto">
                            Titulo producto
                        </p>
                        <p class="descripcion-producto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, iure aperiam maxime omnis
                            exercitationem tenetur? Voluptas enim dolore totam sint temporibus.
                        </p>
                        <p class="precio-producto">
                            $9.999
                        </p>
                    </div>
                </a>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            </article>
            <article class="tarjeta-articulo">
                <div class="imagen-producto">
                    <img src="/img/Imagenes-Index/gabinete.png" alt="Foto gabinete">
                </div>
                <a href="/product-detail">
                    <div class="info-producto">
                        <p class="titulo-producto">
                            Titulo producto
                        </p>
                        <p class="descripcion-producto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, iure aperiam maxime omnis
                            exercitationem tenetur? Voluptas enim dolore totam sint temporibus.
                        </p>
                        <p class="precio-producto">
                            $9.999
                        </p>
                    </div>
                </a>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            </article>
            <article class="tarjeta-articulo">
                <div class="imagen-producto">
                    <img src="/img/Imagenes-Index/gabinete.png" alt="Foto gabinete">
                </div>
                <a href="/product-detail">
                    <div class="info-producto">
                        <p class="titulo-producto">
                            Titulo producto
                        </p>
                        <p class="descripcion-producto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, iure aperiam maxime omnis
                            exercitationem tenetur? Voluptas enim dolore totam sint temporibus.
                        </p>
                        <p class="precio-producto">
                            $9.999
                        </p>
                    </div>
                </a>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            </article>
            <article class="tarjeta-articulo">
                <div class="imagen-producto">
                    <img src="/img/Imagenes-Index/gabinete.png" alt="Foto gabinete">
                </div>
                <a href="/product-detail">
                    <div class="info-producto">
                        <p class="titulo-producto">
                            Titulo producto
                        </p>
                        <p class="descripcion-producto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, iure aperiam maxime omnis
                            exercitationem tenetur? Voluptas enim dolore totam sint temporibus.
                        </p>
                        <p class="precio-producto">
                            $9.999
                        </p>
                    </div>
                </a>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            </article>
            <article class="tarjeta-articulo">
                <div class="imagen-producto">
                    <img src="/img/Imagenes-Index/gabinete.png" alt="Foto gabinete">
                </div>
                <a href="/product-detail">
                    <div class="info-producto">
                        <p class="titulo-producto">
                            Titulo producto
                        </p>
                        <p class="descripcion-producto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, iure aperiam maxime omnis
                            exercitationem tenetur? Voluptas enim dolore totam sint temporibus.
                        </p>
                        <p class="precio-producto">
                            $9.999
                        </p>
                    </div>
                </a>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            </article>
            <article class="tarjeta-articulo">
                <div class="imagen-producto">
                    <img src="/img/Imagenes-Index/gabinete.png" alt="Foto gabinete">
                </div>
                <a href="/product-detail">
                    <div class="info-producto">
                        <p class="titulo-producto">
                            Titulo producto
                        </p>
                        <p class="descripcion-producto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, iure aperiam maxime omnis
                            exercitationem tenetur? Voluptas enim dolore totam sint temporibus.
                        </p>
                        <p class="precio-producto">
                            $9.999
                        </p>
                    </div>
                </a>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            </article> -->

        </section>
        <section class="carrusel">
            <img class="carrusel-img" src="/img/Imagenes-Index/banner-00.png" alt="">
            <i class="previous-icon-banner fa-solid fa-caret-left flx-r-w"></i>
            <i class="next-icon-banner fa-solid fa-caret-right flx-r-w"></i>
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
   

    <!-- Scripts JS -->
    <script src="/darkmode-controller"></script>
    <script src="/submenu-controller"></script>
</body>

</html>