<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    
    <%- include("./partials/header.ejs") %>

    <main class="main-section flx-r-nw" >
        <button type="button" id="filterBtn" >Filtros</button>

        <section class="filterSection flx-c-nw">
            <div class="flx-r-nw titleContainer">
                <h2 class="filterTitle">Filtros</h2>
                <i class="fa-solid fa-x" id="filterExit"></i>
            </div> 

            <article class="filterArt ">
                <h4>Ordenar por:</h4>
                <select name="category" id="orderBySelect">
                    <option value="default">Seleccionar</option>
                    <option value="DESC">Mayor Precio</option>
                    <option value="ASC">Menor Precio</option>
                </select>
            </article>

            <article class="filterArt ">
                <h4>Categorias:</h4>
                <select name="category" id="categorySelect">
                    <option value="default">Seleccionar</option>
                    <% globalData.allCategories.forEach(category => { %>
                        <option value="<%= category.categoryId %>"><%= category.categoryTitle %></option>
                    <% }) %>
                </select>
            </article>

            <article class="filterArt  flx-r-w">
                <h4>Rango de Precio:</h4>
                <label class="rangeLabel flx-r-w" for="gtePrice">Mayor a $</label>
                <input class="rangeInput" type="number" name="gte" id="gtePrice">
                <label class="rangeLabel flx-r-w" for="gtePrice">Menor a $</label>
                <input class="rangeInput" type="number" name="lte" id="ltePrice">
            </article>

            <p id="errorVerify"></p>

            <button type="button" id="resetBtn">Restablecer</button>

        </section>

        <section class="cards cardConatiner" id="cardContainer">
            <article class="paginationControllers flx-r-nw">
                <p  class="flx-r-nw" id="previousPage" onclick="previousPage(event)">
                    <i class="fa-solid fa-circle-chevron-left flx-r-nw"></i>
                    Anterior
                </p>
                <div class="pagesNumbersContainer flx-r-nw">
     
                </div>
                <p class="flx-r-nw" id="nextPage" onclick="nextPage(event)">
                    Siguiente
                    <i class="fa-solid fa-circle-chevron-right flx-r-nw"></i>
                </p>
            </article>

            <% products.forEach(product => { %>
                <article class="tarjeta-articulo" onclick="toProductDetail(event)">
                    <input type="hidden" name="productId" id="productId" value="<%= product.productId %>">

                    <div class="imagen-producto">
                        <% if (product.images && product.images.length) { %>
                            <img src="/img/Products-Image<%= product.images[0]?.imageTitle %>" alt=<%= product.alt %>>
                            <% }else{ %>
                            <img src="/img/Products-Image/default_img.jpg" alt=<%= product.alt %>>
                        <% } %>
                    </div>
                    
                    <div class="info-producto">
                        <p class="titulo-producto">
                            <%= product.productName %>
                        </p>
                        <p class="descripcion-producto">
                            <%= product.shortDescription %>
                        </p>
                    </div>
                   
                    <p class="precio-producto">
                        <%= product.productPrice%>
                    </p>

                    <i class="cart-icon fa-solid fa-cart-shopping flx-r-w" onclick="addToCart(event)"></i>
                    <i class="heart-icon fa-solid fa-heart flx-r-w"  onclick="favoritesControlls(event)"></i>
                </article> 
            <% }) %>

        </section>
        
    </main>
    <%- include('./partials/sideCart.ejs') %>

    <%- include("./partials/footer.ejs") %>


    <!-- Scripts JS -->
    <script src="/DOM-Controllers/darkmode"></script>
    <script src="/DOM-Controllers/productDisplay"></script>
    <script src="/DOM-Controllers/darkmode/productDisplay"></script>

    

</body>

</html>