<section class="background-opacity">
</section>
<form class="sticky-container" id="cartForm" action="/mercadopago/create-Order" method="post">

    <article class="sideCart-container flx-c-nw">

        <section class="sc-product-container flx-c-nw">
            <i class="fa-solid fa-x" id="cartExit"></i>
            <h2 class="sc-title-section">Productos</h2>

            <div class="sc-product-display flx-c-nw">
                <% if (locals.cartProducts) { %>
                    <% locals.cartProducts.forEach(cartProduct => { %>
                     
                        <article class="sc-product-card flx-r-nw">
                            <input type="hidden" name="cartProductId" id="cartProductId" value="<%= cartProduct.cartProductId %>">
                            <input type="hidden" name="productId" id="productId" value="<%= cartProduct.productId %>">
                            <div class="sc-img-container flx-r-nw">
                                <img src="/img/Products-Image<%= cartProduct.product.images[0].imageTitle %>" alt="">
                            </div>
                            <div class="sc-quantity-container flx-r-w">
                                <i class="minus-icon fa-solid fa-minus flx-r-w" onclick="changeQuantity(event, 0)"></i>
                                <input type="number" class="quantity-input" onfocus="enterAction(event)"  onchange="updateProduct(event)" min="1" value="<%= cartProduct.quantity %>">
                                <i class="plus-icon fa-solid fa-plus flx-r-w" onclick="changeQuantity(event, 1)"></i>
                                <br>
                                <% if (cartProduct.discount) { %>
                                    <i class="discount-text">
                                        %<%= cartProduct.discount %> OFF
                                    </i>
                                <% } %>
                            </div>
                            <p class="sc-product-subtotal"><%= cartProduct.total %></p>
                            <button type="button" class="sc-delete-product" onclick="deleteProduct(event)">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </article>
                    <% }) %>
                <% } %>
            </div>

        </section>

        <section class="sc-shipping-container flx-c-nw">
            <input type="hidden" name="shippingDistance" id="shippingDistance">
            <div class="sc-title-section flx-r-nw">
                <div class="flx-r-nw">
                    <i class="fa-solid fa-truck"></i>
                    <h2>Envío</h2>
                </div>
                <p class="sc-shipping-subtotal">0</p>
                <input type="hidden" name="shippingCost" id="shippingCost" ></input>
            </div>

            <div class="sc-shipping-way-container flx-r-nw">
                <div class="flx-c-nw">
                    <div class="flx-r-nw"> 
                        <input type="radio" id="storePickup" value="storePickup" name="shippingWay">
                        <label for="StorePickup">Retiro sin Cargo</label>
                    </div>
                    <input type="text" id="pickupPlace" name="pickupPlace" disabled>
                </div>
                <button type="button" id="pickupBtn">Seleccionar Tienda</button>
            </div>

            <div class="sc-shipping-way-container flx-r-nw">
                <div class="flx-c-nw">
                    <div class="flx-r-nw">
                        <input type="radio" id="homeDelivery" value="homeDelivery" name="shippingWay">
                        <label for="homeDelivery">Envio a Domicilio</label>
                    </div>
                </div>
                <button type="button" id="postalCode">Seleccionar Domicilio</button>
            </div>

        </section>

        <section class="sc-total-container flx-c-nw">
            <div class="sc-title-section flx-r-nw">
                
                <h2>Total de Compra</h2>
                
                <p class="sc-total">0</p>
            </div>
        </section>

        <button type="submit" id="endCart">Continuar con el Pago</button>

        <div class="sideCart-background"></div>
    </article>
</form>

<!-- Mapa PICKUP -->
<div class="modalMapp-background flx-c-nw"></div>

  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
  ></script>

  <script src="/DOM-Controllers/sideCart"></script>
